<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Traceur & Backbone.js • TodoMVC</title>
	<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			 <div id="create-todo">
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</div>
		</header>
			<section id="main">
				<input class="check mark-all-done" id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer">
				<div id="todo-stats"></div>
			</footer>
	</section>
	<footer id="info">
		<p>Double-click to edit a todo</p>
		<p>Traceur version by Addy Osmani</p>
	</footer>

	<!-- Templates -->

	<script type="text/template" id="item-template">
		<div class="todo <%= done ? 'done' : '' %>">
			<div class="view display">
				<input class="toggle check" type="checkbox" <%= done ? 'checked' : '' %>>
				<label class="todo-content"><%= content %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit todo-input" value="<%= content %>">
		</div>
	</script>

	<script type="text/template" id="stats-template">
		<% if (total) { %>
			<span id="todo-count">
				<strong class="number"><%= remaining %></strong>
				<span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left
			</span>
		<% } %>
		<% if (done) { %>
			<span class="todo-clear">
				<button id="clear-completed">
					Clear completed (<span class="number-done"><%= done %></span>)
				</button>
			</span>
		<% } %>
	</script>
	
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="js/libs/backbone/backbone.localStorage.js"></script>
    <script src="../../bin/traceur.js"></script>
    <script src="../../src/bootstrap.js"></script>
    <script>
      traceur.options.experimental = true;
    </script>
	<script type="text/traceur" src="js/app.es6"></script>
</body>
</html>
